In [1]:
%load_ext autoreload
%autoreload 2
%reload_ext autoreload

In [2]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
import math as mt
import datetime as dt
from sklearn.cluster import KMeans
import random as ran
from sklearn.metrics.pairwise import euclidean_distances as euc

# 한글출력
matplotlib.rc('font', family='AppleGothic')
plt.rcParams['axes.unicode_minus'] = False

from src.dbc import TimeDivisionKMeans
from src.dbc.utils import data_preprocessing, \
        dimension_reduction, \
        calc_contribution, \
        calc_contribution_rank, \
        remove_anomaly

import src.crs as crs
from IPython.display import clear_output

# Load Data

In [3]:
# 1. load_excel

# data/apt_all.xlsx
# data/apt_1.xlsx
# data/apt_3.xlsx
# data/apt_4.xlsx
# data/apt_std_nugin_1_3.xlsx

data_path = "data/apt_1.xlsx"
xlsx = pd.read_excel(data_path, header=None,
                     skiprows=2, engine="openpyxl")

# 2. data preprocessing
df = data_preprocessing(xlsx)

# 3. dimension_reduction
df = dimension_reduction(df)

copy_df = df.copy()

In [4]:
df = copy_df[:24 * 31]
size = 3
tdKMeans = TimeDivisionKMeans(df, size=size)

df.head()

setting start
setting end

,아파트1-104-1206,아파트1-104-303,아파트1-104-1307,아파트1-104-1208,아파트1-104-408,아파트1-104-203,아파트1-103-1402,아파트1-103-402,아파트1-103-1201,아파트1-103-801,...,아파트1-102-901,아파트1-103-1905,아파트1-103-503,아파트1-103-1504,아파트1-103-606,아파트1-103-903,아파트1-103-1106,아파트1-103-705,아파트1-103-1505,아파트1-103-406
2018-05-01 00:00:00,0.341,0.121,0.245,0.009,0.085,0.154,0.161,0.311,0.358,0.177,...,0.372,0.181,0.322,0.374,0.571,0.453,0.161,0.127,0.259,0.364
2018-05-01 01:00:00,0.337,0.186,0.285,0.010,0.071,0.127,0.179,0.225,0.206,0.178,...,0.245,0.238,0.292,0.382,0.327,0.352,0.172,0.133,0.234,0.286
2018-05-01 02:00:00,0.324,0.214,0.487,0.009,0.061,0.139,0.182,0.221,0.150,0.152,...,0.245,0.250,0.287,0.320,0.359,0.366,0.242,0.219,0.197,0.368
2018-05-01 03:00:00,0.319,0.250,0.300,0.009,0.067,0.132,0.172,0.274,0.142,0.205,...,0.177,0.223,0.329,0.170,0.322,0.267,0.269,0.164,0.229,0.414
2018-05-01 04:00:00,0.235,0.199,0.107,0.009,0.047,0.131,0.153,0.255,0.139,0.169,...,0.129,0.171,0.301,0.168,0.351,0.255,0.170,0.132,0.198,0.318

In [5]:
tdKMeans.init_setting()
hc, ci = tdKMeans.run()

hc.head()

setting start
setting end
10 / 248 ==> 86.77059843740079
20 / 248 ==> 82.30176939923716
30 / 248 ==> 82.24367773554765
40 / 248 ==> 81.58104478537285
50 / 248 ==> 84.22278871608768
60 / 248 ==> 80.93316531416347
70 / 248 ==> 80.92063592601029
80 / 248 ==> 80.99648808923693
90 / 248 ==> 87.87073010344298
100 / 248 ==> 81.4120189627831
110 / 248 ==> 81.7912077391251
120 / 248 ==> 77.22850069647606
130 / 248 ==> 85.90119494888187
140 / 248 ==> 82.75546861874625
150 / 248 ==> 84.29813518595206
160 / 248 ==> 89.48493983561283
170 / 248 ==> 87.12813206890434
180 / 248 ==> 80.04718305486038
190 / 248 ==> 82.36421442645177
200 / 248 ==> 84.12507984441775
210 / 248 ==> 84.06000233185645
220 / 248 ==> 83.1384048636994
230 / 248 ==> 84.0366893426478
240 / 248 ==> 80.05377833872068
248 / 248 ==> 81.93918890341807

,아파트1-104-1206,아파트1-104-303,아파트1-104-1307,아파트1-104-1208,아파트1-104-408,아파트1-104-203,아파트1-103-1402,아파트1-103-402,아파트1-103-1201,아파트1-103-801,...,아파트1-102-901,아파트1-103-1905,아파트1-103-503,아파트1-103-1504,아파트1-103-606,아파트1-103-903,아파트1-103-1106,아파트1-103-705,아파트1-103-1505,아파트1-103-406
0,2.0,5.0,0.0,1.0,1.0,5.0,5.0,4.0,4.0,5.0,...,2.0,4.0,2.0,2.0,6.0,2.0,5.0,5.0,4.0,2.0
1,1.0,2.0,0.0,6.0,6.0,2.0,2.0,1.0,2.0,2.0,...,0.0,0.0,5.0,2.0,5.0,1.0,0.0,0.0,0.0,3.0
2,6.0,6.0,6.0,6.0,6.0,4.0,0.0,4.0,4.0,4.0,...,6.0,2.0,1.0,0.0,5.0,0.0,0.0,4.0,1.0,0.0
3,6.0,6.0,1.0,1.0,1.0,5.0,5.0,5.0,2.0,6.0,...,6.0,2.0,5.0,3.0,3.0,3.0,6.0,5.0,5.0,3.0
4,6.0,3.0,3.0,3.0,3.0,6.0,2.0,6.0,5.0,6.0,...,2.0,4.0,4.0,5.0,0.0,2.0,3.0,6.0,6.0,5.0

# Contribution Map

In [6]:
contribution_df = calc_contribution_rank(hc, ci)
contribution_df.index = df.index[::size] 

cont_mean_df = remove_anomaly(df, contribution_df)

print("{} ~ {} 까지의 기여도 그룹이 만들어졌다.".format(
    cont_mean_df['contribution'].min(), cont_mean_df['contribution'].max()))
cont_count = pd.DataFrame(
    cont_mean_df['contribution'].groupby(cont_mean_df['contribution']).count()
)
cont_count.columns = ['그룹 멤버 수']
cont_count

1.0 ~ 6.0 까지의 기여도 그룹이 만들어졌다.

              그룹 멤버 수
contribution
1.0                 7
2.0                15
3.0                34
4.0                26
5.0                21
6.0                 5

# 대표 클러스터링 패턴 선정
- 각 기여도 그룹의 가구들은 n시간 마다 특정 군집에 속해있었다.
- 특정 기여도 그룹의 n개의 시간대의 대표 클러스터링 패턴 선정은 해당 그룹의 멤버들이 가장 많이 속해 있었던 클러스터링으로 선정을 하겠다.

In [7]:
# Cluster by Contribution GroupBy
cc = pd.DataFrame()
cont_group = set(cont_mean_df.values.flatten())

for group in cont_group:
    group_cols = cont_mean_df[cont_mean_df['contribution'] == group].index
    _hc = hc[group_cols].T.copy()
    _clusters = np.array([])
    
    for idx in range(0, len(hc)):
        _group = _hc[idx].groupby(_hc[idx]).count()
        max_cluster = _group.argmax()

        _clusters = np.append(_clusters,
                              _group.keys()[max_cluster])
    
    cc["기여도 그룹 {}".format(int(group))] = _clusters
    
cc_cont = calc_contribution_rank(cc, ci)
cc_cont.index = contribution_df.index

cc.head()

   기여도 그룹 1  기여도 그룹 2  기여도 그룹 3  기여도 그룹 4  기여도 그룹 5  기여도 그룹 6
0       1.0       5.0       5.0       2.0       2.0       3.0
1       6.0       2.0       2.0       1.0       5.0       4.0
2       6.0       6.0       4.0       4.0       5.0       1.0
3       1.0       6.0       6.0       5.0       3.0       3.0
4       3.0       6.0       6.0       2.0       2.0       0.0

## 선정된 대표 클러스터링의 패턴 파싱하기

In [8]:
cc_cols = cc.columns
_cc_pattern = np.array([])

for cc_col in cc_cols:
    _cc = cc[cc_col]
    for division_round, _cc in enumerate(_cc):
        _round_pattern = ci[division_round][0][int(_cc)]
        
        _cc_pattern = np.append(_cc_pattern,_round_pattern)
        
cc_pattern = pd.DataFrame(_cc_pattern.reshape(-1,len(cc) * 3),
                         index=cc_cols,
                         columns=df.index).T
cc_pattern.head()

,기여도 그룹 1,기여도 그룹 2,기여도 그룹 3,기여도 그룹 4,기여도 그룹 5,기여도 그룹 6
2018-05-01 00:00:00,0.067,0.162,0.162,0.369,0.369,0.675
2018-05-01 01:00:00,0.063,0.153,0.153,0.329,0.329,0.571
2018-05-01 02:00:00,0.056,0.162,0.162,0.320,0.320,0.476
2018-05-01 03:00:00,0.062,0.164,0.164,0.258,0.341,0.511
2018-05-01 04:00:00,0.051,0.161,0.161,0.269,0.346,0.511

## 전체 클러스터 평균

In [27]:
_all_cluster = np.array([])
_hc_t = hc.T.copy()

for div_round, _hc_t_col in enumerate(_hc_t):
    count_group = _hc_t[_hc_t_col].groupby(_hc_t[_hc_t_col]).count()
    max_idx = count_group.argmax()
    _all_cluster = np.append(_all_cluster, max_idx)
    
all_cluster = pd.DataFrame(_all_cluster, 
                           index=cc_pattern.index[::3],
                          columns=["전체 클러스터 기여도 평균"])

acc = all_cluster.copy()

all_cluster_cont = calc_contribution_rank(acc, ci)
all_cluster_cont.index = cc_pattern.index[::3]

all_cluster_cont.head()

                     전체 클러스터 기여도 평균
2018-05-01 00:00:00             3.0
2018-05-01 03:00:00             2.0
2018-05-01 06:00:00             2.0
2018-05-01 09:00:00             3.0
2018-05-01 12:00:00             2.0

In [37]:
all_cluster_pattern = np.array([ci[div_round][0][int(cluster_num[0])].tolist() for 
                       div_round, cluster_num in enumerate(all_cluster.values)])

acc_pattern = pd.DataFrame(all_cluster_pattern.flatten(), 
                          index=cc_pattern.index,
                          columns=acc.columns)
acc_pattern.head()

                     전체 클러스터 기여도 평균
2018-05-01 00:00:00           0.248
2018-05-01 01:00:00           0.237
2018-05-01 02:00:00           0.216
2018-05-01 03:00:00           0.164
2018-05-01 04:00:00           0.161

# Consoling

In [41]:
def consoling():
    print("----기여도 그룹을 선택해주세요.")
    for cc_idx, cc_col in enumerate(cc_cols):
        print("{}.{}".format(cc_idx + 1, cc_col))
    print()

    sel_group = int(input())
    sel_cont = cont_mean_df[cont_mean_df['contribution'] == sel_group]
    clear_output()

    print("----피드백 가구 선택")
    print(" • 해당 그룹의 가구 수는 {}가구 입니다.\n".format(len(sel_cont)))
    print("----가구를 선택해주세요.")
    for hh_idx, hh_col in enumerate(sel_cont.index):
        print("{}.{}({}kWh)".format(hh_idx + 1, hh_col, df[hh_col].sum().round().astype("int")))
    sel_hh = int(input())
    sel_hh_col = sel_cont.index[sel_hh - 1]
    clear_output()

    print("----선택 정보를 확인해주세요.")
    print("그룹 명 : {}".format(cc_cols[sel_group - 1]))
    print("가구 명 : {}\n".format(sel_hh_col))

    target_group = sel_group - 1
    if target_group <= 0:
        print("[X] 전기 절약을 잘 실천하고 있는 가구 입니다.")
    else:
        print("----원하시는 피드백 정보를 선택해주세요.")

        sel_cont = contribution_df[sel_hh_col]
        sel_cont_col = cc_cols[target_group - 1]
        target_cont = cc_cont[sel_cont_col]

        clear_output()
        print("----선택 정보를 확인해주세요.")
        print("그룹 명 : {}".format(cc_cols[sel_group - 1]))
        print("가구 명 : {}\n".format(sel_hh_col))

        return cc_cols[sel_group - 1], sel_hh_col

In [43]:
sgconsoling()

----선택 정보를 확인해주세요.
그룹 명 : 기여도 그룹 2
가구 명 : 아파트1-104-1206

('기여도 그룹 2', '아파트1-104-1206')